<%- include('layout/header'); %>

<div class="container-fluid">
    <div class="messaging row " data-current-user-id="<%- userId -%>" data-token="<%- token -%>">
        <div class="inbox_msg col-lg-12">
          <div class="col-lg-2 col-md-12 inbox_people">
            <div class="headind_srch">
              <div class="recent_heading">
                <h4 class="col-8">Contact List</h4>
                <i class="fa fa-user-plus col-4 add-user"></i>
              </div>
            </div>
            <div class="inbox_chat"></div>
          </div>
          <div class="select-to-message col-md-12">
            <h4>Welcome!  Select user or group to start chatting.</h4>
          </div>
          <div class="d-none chat-templates col-md-12">
          
            <div class="chat_contact_list">
            <div class="chat_list" data-user-id="">
              <div class="chat_people">
                <div class="chat_img">
                  <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> 
                </div>
                <div class="chat_ib">
                  <h5></h5>
                </div>
              </div>
            </div>
          </div>

            <div class="incoming-user">
              <div class="incoming_msg">
                <div class="incoming_msg_img"> 
                  <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> 
                </div>
                <div class="received_msg">
                  <div class="received_withd_msg">
                    <p></p>
                    <span class="time_date">11:01 AM|June 9</span></div>
                </div>
              </div>
            </div>

            <div class="outgoing-user">
              <div class="outgoing_msg">
                <div class="sent_msg">
                  <p></p>
                  <span class="time_date">11:01 AM|June 9</span> </div>
              </div>
            </div>

            <li class="list-group-item">
              <div class="chat_list" data-user-id="">
                <div class="chat_people">
                  <div class="chat_img"> 
                    <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> 
                  </div>
                  <div class="chat_ib">
                    <h5 class="chat_title"></h5>
                  </div>
                  <div class="chat_add_user"><i class="fa fa-plus"></i></div>
                </div>
              </div>
            </li>

          </div>
          <div class="col-lg-10 col-md-12 mesgs d-none"> 
            <div class="msg_history"></div>
            <div class="no_history d-none">Feel free fo speech!</div> 
          </div>
          <div class="col-lg-10 type_msg">
            <div class="input_msg_write">
              <textarea class="write_msg" placeholder="Type a message" cols="30" rows="10"></textarea>
              <button class="msg_send_btn" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
              <!--<button class="msg_send_btn" type="button"><i class="fa fa-paperclip" aria-hidden="true"></i></button>-->
            </div>
          </div>
        </div>
        </div>
    </div>
    
    <div class="modal" id="search-usrs" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-center m-auto">Search Users</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="input-group mb-3">
              <input type="text" class="form-control" id="search" placeholder="Search Username">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary btn-search" type="button"><i class="fa fa-search"></i></button>
              </div>
            </div>
            <ul class="list-group">
              
            </ul>
          </div>
        </div>
      </div>
    </div>

<%- include('layout/footer'); %>