img{ max-width:100%;}
.bg-dark {
  position: fixed;
  width: 100%;
  z-index: 10;
}
.users_chat {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 5%; 
  bormessagingder-right:1px solid #c4c4c4;
  cursor: pointer;
}
.users_list {
  transition: 0.3s;
  border-bottom: solid #c4c4c4 1px;
}
.users_list:hover {
  background-color: #ebebeb;
}
.users_list img {
  width: 65%;
}
.users_list { 
  text-align: center;
  margin: 0 auto;
  padding-top: 20px;
}
.msg_history {
  position: relative;
  bottom: 70px;
}
.inbox_people {    
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  border-right: 1px solid #c4c4c4;
  height: 93%;
  bottom: 0px;
  position: fixed;
  padding: 0;
}
.inbox_msg {
  border: 1px solid #c4c4c4;
  clear: both;
  padding: 0;
}
.top_spac{ margin: 20px 0 0;}
.recent_heading { 
  width:100%;
}
.srch_bar {
  display: inline-block;
  text-align: right;
  width: 60%;
}
.headind_srch{ 
  padding: 10px; 
  overflow:hidden; 
  border-bottom:1px solid #c4c4c4;
} 
.recent_heading h4 {
  color: #05728f;
  font-size: 21px;
  padding: 0;
  margin: 0;
  display: inline;
}
.srch_bar input{ border:1px solid #cdcdcd; border-width:0 0 1px 0; width:80%; padding:2px 0 4px 6px; background:none;}
.srch_bar .input-group-addon button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  color: #707070;
  font-size: 18px;
}
.srch_bar .input-group-addon { margin: 0 0 0 -27px;}

.chat_ib h5{ 
  font-size: 15px;
  color: #464646;
  margin: 0 0 8px 0;
  position: relative;
  top: 5px;
}
.chat_ib h5 span{ font-size:13px; float:right;}
.chat_ib p{ font-size:14px; color:#989898; margin:auto}
.chat_img {
  float: left;
  width: 15%;
}
.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 85%;
}

.chat_people{ overflow:hidden; clear:both;}
.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
  transition: 0.2s;
  cursor: pointer;
} 
.chat_list:hover, .active {
  background-color: #ebebeb;
}
.inbox_chat { height: 100%; overflow-y: scroll;}
.active_chat{ background:#ebebeb;}
.incoming_msg {
  padding: 25px 0;
}
.incoming_msg_img {
  display: inline-block;
  width: 6%;
}
.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
 }
 .received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}
.received_withd_msg { width: 57%;}
.mesgs {
  float: right;
  padding: 30px 15px 0 25px;
}

 .sent_msg p {
  background: #05728f none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0; color:#fff;
  padding: 5px 10px 5px 12px;
  width:100%;
}
.outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
.sent_msg {
  float: right;
  width: 46%;
}
.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.type_msg {
  border-top: 1px solid #c4c4c4;
  position: fixed;
  width: 100%;
  bottom: 0vw;
  display: block;
  left: 16.6vw;
  height: 70px;
  background-color: #ebebeb;
}
.msg_send_btn {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 15px;
  top: 15px;
  width: 33px;
}
.select-to-message {
  text-align: center;
  position: relative;
  top: 45vh;
  left: 15vw;
  color: #05729f;
  width: 80%;
}
.no_history {
  position: relative;
  text-align: center;
  bottom: 25px;
  color: #417e95;
  font-weight: 700;
  font-size: 15px;
}
.write_msg {
  width: 100%;
  border: none;
  background-color: #ebebeb;
  height: 50px;
  position: fixed;
  bottom: 0;
}
.write_msg:focus {
  outline: none;
}
.msg_send_btn:focus {
  outline: none;
}
.add-user {
  font-size: 22px !important;
  color: #05728f; 
  float: right;
  position: relative;
  left: 30px;
  top: 3px;
  cursor: pointer;
}
.modal-content {
  border-radius: 0;
}
.modal-header {
  border: none;
}
.modal-header .close {
  padding: 0;
  margin: 0;
}
.modal-title {
  color: #05728f;
}
.list-group-item {
  margin: 0;
  padding: 0;
}
.list-group {
  min-height: 300px;
}
::placeholder {
  position: relative;
  font-weight: 600;
}