    <div class="gif d-none">
        <img src="/static/assets/images/loader.gif" alt="">
    </div>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="/static/assets/js/global.js"></script>
    <script src="/static/assets/js/dashboard.js"></script>
    </body>
</html>
